* {
    margin: 0;
}
#nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#nav-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
    font-size: 24px;
    background-color: rgb(140, 140, 145);
}
#nav-items a {
    text-decoration: none;
}

.recipe-box {
    width: 20%;
}

ul {
    list-style: none;
}

#discover-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}